*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:hsl(233, 47%, 7%) ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card-background {

  /* width: 100vw; */
  max-width: 80%;
  max-height: 90%;
  width: 70%;
  padding: 1rem;
  background-color: hsl(244, 38%, 16%);
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
   justify-content: center; 
  text-align: left;
  border-radius: 10px;

  
}
.first-p{
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 40px;
  margin-bottom: 10px;
  
}
.insights{
  color:hsl(277, 64%, 61%);
}
.second-p{
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}

.content{
  flex: 1;
  text-align: left;

}

.mycontainer{
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.mycontainer .item{
  color: hsl(0, 0%, 53%);
  font-size: 14px;
  margin: 0 5px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.mycontainer .item:first-of-type{
  margin-left: 0;
}

.mycontainer .item .number
{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
}


.image-container
{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 12px;
  width: 450px;
  

}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.image-container .color-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  hsl(277, 86%, 37%);
  opacity: 0.4;
  z-index: 0;
}

@media screen and (max-width: 876px) {
  
  .card-background 
  {
    flex-direction: column-reverse;
  }

  .image-container
  {
    width: 100%;
  }

  .content
  {
    margin-top: 20px;

    width: 100%;
  }

}